<div class="container mt-5">
  <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="text-center mb-4">Devices & Sessions</h1>

  <% @sessions.each do |session| %>
    <div class="card mb-4">
      <div class="card-header">
        <h5><strong>User Agent:</strong> <%= session.user_agent %></h5>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>Ip Address:</strong> <%= session.ip_address %></p>
        <p class="card-text"><strong>Created at:</strong> <%= session.created_at %></p>
      </div>
      <div class="card-footer">
        <%= button_to "Log out", session, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  <% end %>

  <div class="text-center mt-4">
    <%= link_to "Back", root_path, class: 'btn btn-primary' %>
  </div>
</div>
