<!-- _navbar.html.erb -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-lg-5">
  <a class="navbar-brand" href="/">WeatherApp</a>

  <div class="col-3 ms-auto">
    <%= render 'layouts/form' %>
  </div>
  <div class="ms-auto">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if Current.user %>
          <li class="nav-item dropdown ms-auto">
            <%= link_to '#', class: 'nav-link dropdown-toggle', id: 'navbarDropdown', role: 'button', data: { bs_toggle: 'dropdown' }, aria: { expanded: 'false' } do %>
              <i class="bi bi-person-fill"></i> Account
            <% end %>
            <div class="dropdown-menu dropdown-menu-end custom-dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Profile', home_index_path, class: 'dropdown-item' %>
              <%= link_to "Log out", Current.session, data: { "turbo-method": :delete }, class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", sign_up_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Log in", sign_in_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
