<!DOCTYPE html>
<html>
  <head>
    <title>WeatherApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload"  %>
    <%= javascript_importmap_tags %>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places"
      async
      defer
    ></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body data-controller="loading">
    <%= render 'layouts/navbar' %>

    <div class="row justify-content-center">
      <%= turbo_frame_tag "flash_messages", style: 'height: 50px' do %>
        <%= render 'shared/flash_messages' %>
      <% end %>
    </div>

    <%= turbo_frame_tag 'pinned_locations', src: locations_path %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
